In [18]:
# Bibliotecas

import pandas as pd
import numpy as np
from datetime import datetime
import glob
import os
from tqdm import tqdm

In [19]:
# Carregar a planilha e depois selecionar as colunas de interesse
df = pd.read_excel(r"C:\Users\hugob\Downloads\Relatório Geral de Estudantes - Matrículas - 07.11.xlsx")

D:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [20]:
df

,Relatório Geral de Estudantes - Matrículas,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
0,Gerado em 07/11/2025 17:55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ANO,PERÍODO,MATRÍCULA,DATA DE EFETIVAÇÃO DA MATRÍCULA,NOME,NOME SOCIAL,ID_PESSOA,SEXO,NOME DA FILIAÇÃO 1,NOME DA FILIAÇÃO 2,...,DATA DA OPERAÇÃO,RESPÓNSÁVEL,MATRICULA SERVIDOR,LOGIN,ID_USUÁRIO,PARTICIPA PÉ DE MEIA,RAÇA / COR,UTILIZA TRANSPORTE ESCOLAR,TIPO DE TRANSPORTE ESCOLAR,TIPO
2,2025,1,202230683131,13/11/2024,BRUNO CORTES SANTANA,-,1382152,M,LUCIANA COSTA CORTES SANTANA,NaN,...,2025-03-10,-,-,-,-,Não,Parda,Não,-,-
3,2025,1,202430157363,13/11/2024,JALLYSON MIGUEL SILVA DE OLIVEIRA,-,1478210,M,MARIANA SILVA FARIAS,JANAILSON LOPES DE OLIVEIRA,...,2025-03-10,-,-,-,-,Não,Parda,Sim,Micro-ônibus,ESTADUAL
4,2025,1,202430266223,14/11/2024,ANA SOPHIA ABREU DA SILVA,-,1489101,F,SUELEN CRISTINA DE ABREU LORENA,JOSE PAULO DA SILVA JUNIOR,...,2025-03-10,-,-,-,-,Não,Parda,Não,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183493,2025,1,202530501139,07/11/2025,JADSON MIGUEL CANDIDO DA SILVA,-,1584739,M,JACIONE MARIA DA SILVA,JEFFERSON RICARDO BARBOSA CANDIDO DE SOUZA,...,2025-11-07,-,-,-,-,Não,Parda,Não,-,-
183494,2025,1,202230092147,07/11/2025,ELLEN RUTHY DE ARAUJO LIMA,-,1311866,F,DEBORA PINHEIRO DE ARAUJO,SEVERINO TRAJANO DE LIMA FILHO,...,2025-11-07,-,-,-,-,Não,Branca,Não,-,-
183495,2025,1,202530063359,07/11/2025,EMILLY IXCHEL SILVA DE FONTES,-,884996,F,ANDREIA CRISTINA DA SILVA PEDROZA,EWERTON MEDEIROS FONTES,...,2025-11-07,-,-,202530063359,61809298,Não,Parda,Não,-,-
183496,2025,1,201530422580,07/11/2025,LARISSA MIRELLA MOURA ZACARIAS,-,710053,F,GLAUCIA MOURA DE MENDONCA,GLAUCIO RODRIGUES ZACARIAS,...,2025-11-07,-,-,12405144417,61862663,Não,Parda,Não,-,-
183497,2025,1,202530039470,07/11/2025,ESTHEFANY DE OLIVEIRA RIBEIRO,-,1412201,F,MARIA DA CONCEICAO GONCALVES DE OLIVEIRA,FRANCISCO JULIAO RIBEIRO,...,2025-11-07,-,-,esthefany_rxs,61966046,Não,Parda,Sim,Ônibus,MUNICIPAL

In [21]:
df = df.drop(index=0)

In [22]:
df.columns = df.iloc[0]

In [23]:
df

1,ANO,PERÍODO,MATRÍCULA,DATA DE EFETIVAÇÃO DA MATRÍCULA,NOME,NOME SOCIAL,ID_PESSOA,SEXO,NOME DA FILIAÇÃO 1,NOME DA FILIAÇÃO 2,...,DATA DA OPERAÇÃO,RESPÓNSÁVEL,MATRICULA SERVIDOR,LOGIN,ID_USUÁRIO,PARTICIPA PÉ DE MEIA,RAÇA / COR,UTILIZA TRANSPORTE ESCOLAR,TIPO DE TRANSPORTE ESCOLAR,TIPO
1,ANO,PERÍODO,MATRÍCULA,DATA DE EFETIVAÇÃO DA MATRÍCULA,NOME,NOME SOCIAL,ID_PESSOA,SEXO,NOME DA FILIAÇÃO 1,NOME DA FILIAÇÃO 2,...,DATA DA OPERAÇÃO,RESPÓNSÁVEL,MATRICULA SERVIDOR,LOGIN,ID_USUÁRIO,PARTICIPA PÉ DE MEIA,RAÇA / COR,UTILIZA TRANSPORTE ESCOLAR,TIPO DE TRANSPORTE ESCOLAR,TIPO
2,2025,1,202230683131,13/11/2024,BRUNO CORTES SANTANA,-,1382152,M,LUCIANA COSTA CORTES SANTANA,NaN,...,2025-03-10,-,-,-,-,Não,Parda,Não,-,-
3,2025,1,202430157363,13/11/2024,JALLYSON MIGUEL SILVA DE OLIVEIRA,-,1478210,M,MARIANA SILVA FARIAS,JANAILSON LOPES DE OLIVEIRA,...,2025-03-10,-,-,-,-,Não,Parda,Sim,Micro-ônibus,ESTADUAL
4,2025,1,202430266223,14/11/2024,ANA SOPHIA ABREU DA SILVA,-,1489101,F,SUELEN CRISTINA DE ABREU LORENA,JOSE PAULO DA SILVA JUNIOR,...,2025-03-10,-,-,-,-,Não,Parda,Não,-,-
5,2025,1,202330270018,14/11/2024,ARTHUR WILLIAM DA SILVA FARIAS,-,1412594,M,JAIANE SILVA DE SOUZA,HERING NOBRE DE FARIAS,...,2025-03-10,-,-,202330270018,61904897,Não,Parda,Não,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183493,2025,1,202530501139,07/11/2025,JADSON MIGUEL CANDIDO DA SILVA,-,1584739,M,JACIONE MARIA DA SILVA,JEFFERSON RICARDO BARBOSA CANDIDO DE SOUZA,...,2025-11-07,-,-,-,-,Não,Parda,Não,-,-
183494,2025,1,202230092147,07/11/2025,ELLEN RUTHY DE ARAUJO LIMA,-,1311866,F,DEBORA PINHEIRO DE ARAUJO,SEVERINO TRAJANO DE LIMA FILHO,...,2025-11-07,-,-,-,-,Não,Branca,Não,-,-
183495,2025,1,202530063359,07/11/2025,EMILLY IXCHEL SILVA DE FONTES,-,884996,F,ANDREIA CRISTINA DA SILVA PEDROZA,EWERTON MEDEIROS FONTES,...,2025-11-07,-,-,202530063359,61809298,Não,Parda,Não,-,-
183496,2025,1,201530422580,07/11/2025,LARISSA MIRELLA MOURA ZACARIAS,-,710053,F,GLAUCIA MOURA DE MENDONCA,GLAUCIO RODRIGUES ZACARIAS,...,2025-11-07,-,-,12405144417,61862663,Não,Parda,Não,-,-
183497,2025,1,202530039470,07/11/2025,ESTHEFANY DE OLIVEIRA RIBEIRO,-,1412201,F,MARIA DA CONCEICAO GONCALVES DE OLIVEIRA,FRANCISCO JULIAO RIBEIRO,...,2025-11-07,-,-,esthefany_rxs,61966046,Não,Parda,Sim,Ônibus,MUNICIPAL

In [24]:
df = df[1:].reset_index(drop=True)

In [25]:
df

1,ANO,PERÍODO,MATRÍCULA,DATA DE EFETIVAÇÃO DA MATRÍCULA,NOME,NOME SOCIAL,ID_PESSOA,SEXO,NOME DA FILIAÇÃO 1,NOME DA FILIAÇÃO 2,...,DATA DA OPERAÇÃO,RESPÓNSÁVEL,MATRICULA SERVIDOR,LOGIN,ID_USUÁRIO,PARTICIPA PÉ DE MEIA,RAÇA / COR,UTILIZA TRANSPORTE ESCOLAR,TIPO DE TRANSPORTE ESCOLAR,TIPO
0,2025,1,202230683131,13/11/2024,BRUNO CORTES SANTANA,-,1382152,M,LUCIANA COSTA CORTES SANTANA,NaN,...,2025-03-10,-,-,-,-,Não,Parda,Não,-,-
1,2025,1,202430157363,13/11/2024,JALLYSON MIGUEL SILVA DE OLIVEIRA,-,1478210,M,MARIANA SILVA FARIAS,JANAILSON LOPES DE OLIVEIRA,...,2025-03-10,-,-,-,-,Não,Parda,Sim,Micro-ônibus,ESTADUAL
2,2025,1,202430266223,14/11/2024,ANA SOPHIA ABREU DA SILVA,-,1489101,F,SUELEN CRISTINA DE ABREU LORENA,JOSE PAULO DA SILVA JUNIOR,...,2025-03-10,-,-,-,-,Não,Parda,Não,-,-
3,2025,1,202330270018,14/11/2024,ARTHUR WILLIAM DA SILVA FARIAS,-,1412594,M,JAIANE SILVA DE SOUZA,HERING NOBRE DE FARIAS,...,2025-03-10,-,-,202330270018,61904897,Não,Parda,Não,-,-
4,2025,1,202130048235,14/11/2024,DAVI LUCAS SOUZA SILVA,-,1217368,M,PATRICIA SILVA LIMA DE SOUZA,DANIEL SOUZA MARCOLINO,...,2025-03-13,-,-,-,-,Não,Parda,Não,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183491,2025,1,202530501139,07/11/2025,JADSON MIGUEL CANDIDO DA SILVA,-,1584739,M,JACIONE MARIA DA SILVA,JEFFERSON RICARDO BARBOSA CANDIDO DE SOUZA,...,2025-11-07,-,-,-,-,Não,Parda,Não,-,-
183492,2025,1,202230092147,07/11/2025,ELLEN RUTHY DE ARAUJO LIMA,-,1311866,F,DEBORA PINHEIRO DE ARAUJO,SEVERINO TRAJANO DE LIMA FILHO,...,2025-11-07,-,-,-,-,Não,Branca,Não,-,-
183493,2025,1,202530063359,07/11/2025,EMILLY IXCHEL SILVA DE FONTES,-,884996,F,ANDREIA CRISTINA DA SILVA PEDROZA,EWERTON MEDEIROS FONTES,...,2025-11-07,-,-,202530063359,61809298,Não,Parda,Não,-,-
183494,2025,1,201530422580,07/11/2025,LARISSA MIRELLA MOURA ZACARIAS,-,710053,F,GLAUCIA MOURA DE MENDONCA,GLAUCIO RODRIGUES ZACARIAS,...,2025-11-07,-,-,12405144417,61862663,Não,Parda,Não,-,-
183495,2025,1,202530039470,07/11/2025,ESTHEFANY DE OLIVEIRA RIBEIRO,-,1412201,F,MARIA DA CONCEICAO GONCALVES DE OLIVEIRA,FRANCISCO JULIAO RIBEIRO,...,2025-11-07,-,-,esthefany_rxs,61966046,Não,Parda,Sim,Ônibus,MUNICIPAL

In [26]:
# Deixar somente as 2 colunas de interesse (CPF e DATA DE NASCIMENTO)
df = df[['CPF', 'DATA DE NASCIMENTO']]

In [27]:
df

1                  CPF   DATA DE NASCIMENTO
0       073.022.765-01  2012-10-31 00:00:00
1       141.327.644-00  2016-03-02 00:00:00
2       147.265.004-22  2017-08-17 00:00:00
3       712.292.714-81  2015-09-30 00:00:00
4       131.642.894-05  2015-02-23 00:00:00
...                ...                  ...
183491  156.019.404-95  2007-09-12 00:00:00
183492  177.096.304-99  2008-02-14 00:00:00
183493  706.881.644-47  2009-06-11 00:00:00
183494  124.051.444-17  2005-10-20 00:00:00
183495  716.326.014-86  2009-10-01 00:00:00

[183496 rows x 2 columns]

In [28]:
# Definir a data de referência para calcular a idade (01 de março de 2025)
data_referencia = datetime(2025, 3, 1)

In [29]:
# Converter a coluna de data para formato datetime
df['DATA DE NASCIMENTO'] = pd.to_datetime(df['DATA DE NASCIMENTO'], format='%d/%m/%Y %H:%M')

C:\Users\hugob\AppData\Local\Temp\ipykernel_26612\199283761.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DATA DE NASCIMENTO'] = pd.to_datetime(df['DATA DE NASCIMENTO'], format='%d/%m/%Y %H:%M')

In [30]:
# Calcular as idades usando a data de referência
df['IDADE'] = (data_referencia - df['DATA DE NASCIMENTO']).dt.days // 365

C:\Users\hugob\AppData\Local\Temp\ipykernel_26612\1383963767.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['IDADE'] = (data_referencia - df['DATA DE NASCIMENTO']).dt.days // 365

In [31]:
df

1                  CPF DATA DE NASCIMENTO  IDADE
0       073.022.765-01         2012-10-31     12
1       141.327.644-00         2016-03-02      9
2       147.265.004-22         2017-08-17      7
3       712.292.714-81         2015-09-30      9
4       131.642.894-05         2015-02-23     10
...                ...                ...    ...
183491  156.019.404-95         2007-09-12     17
183492  177.096.304-99         2008-02-14     17
183493  706.881.644-47         2009-06-11     15
183494  124.051.444-17         2005-10-20     19
183495  716.326.014-86         2009-10-01     15

[183496 rows x 3 columns]

In [32]:
# Carregar a planilha e depois selecionar as colunas de interesse
df_notas = pd.read_parquet(r"C:\Users\hugob\Downloads\df_EF_EM_bncc_censo.parquet")

In [33]:
df_notas

,DIREC,MUNICÍPIO,ESCOLA,INEP ESCOLA,ETAPA ENSINO,SÉRIE,COMPONENTE CURRICULAR,CPF PESSOA,NOME PESSOA,NOTA 1º BIMESTRE,NOTA 2º BIMESTRE,NOTA 3º BIMESTRE,NOTA 4º BIMESTRE,MÉDIA ANUAL,EXAME FINAL,AVALIAÇÃO ESPECIAL,MÉDIA FINAL,ETAPA_RESUMIDA,MEDIA_NOTAS,STATUS
0,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Arte,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,8.6,9.0,8.3,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.633333,Aprovado
1,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Arte,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,8.6,9.0,8.3,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.633333,Aprovado
2,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Arte,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,8.6,9.0,8.3,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.633333,Aprovado
3,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Biologia,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,6.8,7.1,6.6,NaN,NaN,NaN,NaN,NaN,Ensino Médio,6.833333,Aprovado
4,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Educação Física,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,8.3,9.0,9.0,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.766666,Aprovado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525671,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Língua Portuguesa,13717816489,WELLINGTON ARAUJO FELIX,4.6,4.2,6.0,NaN,NaN,NaN,NaN,NaN,Ensino Médio,4.933333,Reprovado
1525672,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Matemática,13717816489,WELLINGTON ARAUJO FELIX,6.1,3.3,5.6,NaN,NaN,NaN,NaN,NaN,Ensino Médio,5.000000,Reprovado
1525673,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Matemática,13717816489,WELLINGTON ARAUJO FELIX,6.1,3.3,5.6,NaN,NaN,NaN,NaN,NaN,Ensino Médio,5.000000,Reprovado
1525674,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Química,13717816489,WELLINGTON ARAUJO FELIX,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,Ensino Médio,6.000000,Aprovado
1525675,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Sociologia,13717816489,WELLINGTON ARAUJO FELIX,8.0,8.0,8.5,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.166667,Aprovado

In [34]:
df['CPF'] = df['CPF'].astype(str).str.replace('.', '', regex=False).str.replace('-', '', regex=False)

C:\Users\hugob\AppData\Local\Temp\ipykernel_26612\1005790323.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CPF'] = df['CPF'].astype(str).str.replace('.', '', regex=False).str.replace('-', '', regex=False)

In [35]:
# MErge para adicionar idade no dataframe df_notas

df_notas = df_notas.merge(
    df[['CPF', 'IDADE']],      # DataFrame com as colunas que você quer trazer
    how='left',                # mantém todas as linhas do df_notas
    left_on='CPF PESSOA',      # coluna de df_notas usada para combinar
    right_on='CPF'             # coluna de df usada para combinar
)

In [36]:
df_notas

,DIREC,MUNICÍPIO,ESCOLA,INEP ESCOLA,ETAPA ENSINO,SÉRIE,COMPONENTE CURRICULAR,CPF PESSOA,NOME PESSOA,NOTA 1º BIMESTRE,...,NOTA 4º BIMESTRE,MÉDIA ANUAL,EXAME FINAL,AVALIAÇÃO ESPECIAL,MÉDIA FINAL,ETAPA_RESUMIDA,MEDIA_NOTAS,STATUS,CPF,IDADE
0,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Arte,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,8.6,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.633333,Aprovado,70602180414,15.0
1,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Arte,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,8.6,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.633333,Aprovado,70602180414,15.0
2,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Arte,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,8.6,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.633333,Aprovado,70602180414,15.0
3,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Biologia,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,6.8,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,6.833333,Aprovado,70602180414,15.0
4,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Educação Física,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,8.3,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.766666,Aprovado,70602180414,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1530308,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Língua Portuguesa,13717816489,WELLINGTON ARAUJO FELIX,4.6,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,4.933333,Reprovado,13717816489,18.0
1530309,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Matemática,13717816489,WELLINGTON ARAUJO FELIX,6.1,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,5.000000,Reprovado,13717816489,18.0
1530310,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Matemática,13717816489,WELLINGTON ARAUJO FELIX,6.1,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,5.000000,Reprovado,13717816489,18.0
1530311,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Química,13717816489,WELLINGTON ARAUJO FELIX,6.0,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,6.000000,Aprovado,13717816489,18.0
1530312,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Sociologia,13717816489,WELLINGTON ARAUJO FELIX,8.0,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.166667,Aprovado,13717816489,18.0

In [37]:
# Função auxiliar para pegar o valor mais frequente (moda)
def moda(serie):
    return serie.mode()[0] if not serie.mode().empty else None

# Agrupar e calcular
df_reprovacoes = (
    df_notas.groupby('CPF PESSOA', as_index=False)
    .agg({
        'STATUS': lambda x: (x == 'Reprovado').sum(),  # Conta quantos "Reprovado"
        'NOME PESSOA': moda,
        'IDADE': moda,                                # Valor mais frequente da idade
        'SÉRIE': moda,                                 # Valor mais frequente da série
        'DIREC': moda,
        'MUNICÍPIO': moda,
        'ESCOLA': moda,
        'INEP ESCOLA': moda,
        'ETAPA ENSINO': moda,
    })
)

# Renomear a coluna resultante
df_reprovacoes.rename(columns={'STATUS': 'TOTAL_REPROVACOES'}, inplace=True)

In [38]:
df_reprovacoes

         CPF PESSOA  TOTAL_REPROVACOES  IDADE     SÉRIE
0       10000150410                  6   17.0  3ª SÉRIE
1       10000254460                  0   16.0  1ª SÉRIE
2       10000823422                  0   17.0  3ª SÉRIE
3       10000982490                  1   16.0  2ª SÉRIE
4       10001165496                  2   16.0  2ª SÉRIE
...             ...                ...    ...       ...
131652   9997488407                  1    NaN  2ª SÉRIE
131653   9998899400                  0    NaN  2ª SÉRIE
131654   9999048412                  0    NaN  3ª SÉRIE
131655    999906445                  0    NaN  3ª SÉRIE
131656   9999339492                  0    NaN  2ª SÉRIE

[131657 rows x 4 columns]

In [39]:
df_reprovacoes['SÉRIE'].unique()

array(['3ª SÉRIE', '1ª SÉRIE', '2ª SÉRIE', '9º ANO', '6º ANO', '8º ANO',
       '7º ANO'], dtype=object)

In [40]:
# Dicionário de mapeamento entre série e idade esperada
mapa_idade_esperada = {
    '6º ANO': 11,
    '7º ANO': 12,
    '8º ANO': 13,
    '9º ANO': 14,
    '1ª SÉRIE': 15,
    '2ª SÉRIE': 16,
    '3ª SÉRIE': 17
}

# Criar nova coluna com base na série
df_reprovacoes['IDADE_ESPERADA'] = df_reprovacoes['SÉRIE'].map(mapa_idade_esperada)

In [41]:
df_reprovacoes

         CPF PESSOA  TOTAL_REPROVACOES  IDADE     SÉRIE  IDADE_ESPERADA
0       10000150410                  6   17.0  3ª SÉRIE              17
1       10000254460                  0   16.0  1ª SÉRIE              15
2       10000823422                  0   17.0  3ª SÉRIE              17
3       10000982490                  1   16.0  2ª SÉRIE              16
4       10001165496                  2   16.0  2ª SÉRIE              16
...             ...                ...    ...       ...             ...
131652   9997488407                  1    NaN  2ª SÉRIE              16
131653   9998899400                  0    NaN  2ª SÉRIE              16
131654   9999048412                  0    NaN  3ª SÉRIE              17
131655    999906445                  0    NaN  3ª SÉRIE              17
131656   9999339492                  0    NaN  2ª SÉRIE              16

[131657 rows x 5 columns]

In [42]:
# Diferença entre Idade e Idade Esperada
df_reprovacoes['DIFERENCA'] = df_reprovacoes['IDADE'] - df_reprovacoes['IDADE_ESPERADA']

In [43]:
df_reprovacoes

,CPF PESSOA,TOTAL_REPROVACOES,IDADE,SÉRIE,IDADE_ESPERADA,DIFERENCA
0,10000150410,6,17.0,3ª SÉRIE,17,0.0
1,10000254460,0,16.0,1ª SÉRIE,15,1.0
2,10000823422,0,17.0,3ª SÉRIE,17,0.0
3,10000982490,1,16.0,2ª SÉRIE,16,0.0
4,10001165496,2,16.0,2ª SÉRIE,16,0.0
...,...,...,...,...,...,...
131652,9997488407,1,NaN,2ª SÉRIE,16,NaN
131653,9998899400,0,NaN,2ª SÉRIE,16,NaN
131654,9999048412,0,NaN,3ª SÉRIE,17,NaN
131655,999906445,0,NaN,3ª SÉRIE,17,NaN
131656,9999339492,0,NaN,2ª SÉRIE,16,NaN

In [44]:
# Coluna de identificação dos estudantes em distorção idade-série (2 ou mais anos de diferença entre idade atual e idade esperada para a série)
df_reprovacoes['DISTORCAO'] = np.where(df_reprovacoes['DIFERENCA'] >= 2, 'Sim', 'Não')

In [45]:
df_reprovacoes

,CPF PESSOA,TOTAL_REPROVACOES,IDADE,SÉRIE,IDADE_ESPERADA,DIFERENCA,DISTORCAO
0,10000150410,6,17.0,3ª SÉRIE,17,0.0,Não
1,10000254460,0,16.0,1ª SÉRIE,15,1.0,Não
2,10000823422,0,17.0,3ª SÉRIE,17,0.0,Não
3,10000982490,1,16.0,2ª SÉRIE,16,0.0,Não
4,10001165496,2,16.0,2ª SÉRIE,16,0.0,Não
...,...,...,...,...,...,...,...
131652,9997488407,1,NaN,2ª SÉRIE,16,NaN,Não
131653,9998899400,0,NaN,2ª SÉRIE,16,NaN,Não
131654,9999048412,0,NaN,3ª SÉRIE,17,NaN,Não
131655,999906445,0,NaN,3ª SÉRIE,17,NaN,Não
131656,9999339492,0,NaN,2ª SÉRIE,16,NaN,Não

In [46]:
# Dataframe só com os estudantes com distção idade-série: 2 ou mais anos de diferença entre idade atual e idade esperada para a série)
df_distorcao = df_reprovacoes[df_reprovacoes['DISTORCAO'] == 'Sim'].copy()

In [47]:
df_distorcao

,CPF PESSOA,TOTAL_REPROVACOES,IDADE,SÉRIE,IDADE_ESPERADA,DIFERENCA,DISTORCAO
5,10001342452,0,16.0,9º ANO,14,2.0,Sim
11,10005741483,2,19.0,2ª SÉRIE,16,3.0,Sim
13,10005942462,0,16.0,9º ANO,14,2.0,Sim
27,10010545476,12,18.0,1ª SÉRIE,15,3.0,Sim
29,10012595489,0,19.0,3ª SÉRIE,17,2.0,Sim
...,...,...,...,...,...,...,...
130674,94196435491,2,46.0,1ª SÉRIE,15,31.0,Sim
130699,94311943253,0,20.0,1ª SÉRIE,15,5.0,Sim
130701,94336830487,3,46.0,1ª SÉRIE,15,31.0,Sim
131025,96612770449,0,57.0,3ª SÉRIE,17,40.0,Sim
131087,97025640425,3,49.0,1ª SÉRIE,15,34.0,Sim

In [48]:
# COluna de Etapa
# Definir as condições
condicoes = [
    df_distorcao['SÉRIE'].isin(['6º ANO', '7º ANO', '8º ANO', '9º ANO']),
    df_distorcao['SÉRIE'].isin(['1ª SÉRIE', '2ª SÉRIE', '3ª SÉRIE'])
]

# Definir os valores correspondentes
valores = [
    'Ensino Fundamental - Anos Finais',
    'Ensino Médio'
]

# Criar a nova coluna 'ETAPA'
df_distorcao['ETAPA'] = np.select(condicoes, valores, default='Outro')

In [49]:
df_distorcao

,CPF PESSOA,TOTAL_REPROVACOES,IDADE,SÉRIE,IDADE_ESPERADA,DIFERENCA,DISTORCAO,ETAPA
5,10001342452,0,16.0,9º ANO,14,2.0,Sim,Ensino Fundamental - Anos Finais
11,10005741483,2,19.0,2ª SÉRIE,16,3.0,Sim,Ensino Médio
13,10005942462,0,16.0,9º ANO,14,2.0,Sim,Ensino Fundamental - Anos Finais
27,10010545476,12,18.0,1ª SÉRIE,15,3.0,Sim,Ensino Médio
29,10012595489,0,19.0,3ª SÉRIE,17,2.0,Sim,Ensino Médio
...,...,...,...,...,...,...,...,...
130674,94196435491,2,46.0,1ª SÉRIE,15,31.0,Sim,Ensino Médio
130699,94311943253,0,20.0,1ª SÉRIE,15,5.0,Sim,Ensino Médio
130701,94336830487,3,46.0,1ª SÉRIE,15,31.0,Sim,Ensino Médio
131025,96612770449,0,57.0,3ª SÉRIE,17,40.0,Sim,Ensino Médio
131087,97025640425,3,49.0,1ª SÉRIE,15,34.0,Sim,Ensino Médio

In [50]:
# Garantir que TOTAL_REPROVACOES é numérico
df_distorcao['TOTAL_REPROVACOES'] = pd.to_numeric(df_distorcao['TOTAL_REPROVACOES'], errors='coerce')

# Calcular as quantidades em cada faixa
qtd_7_ou_mais = (df_distorcao['TOTAL_REPROVACOES'] >= 7).sum()
qtd_4_a_6 = df_distorcao['TOTAL_REPROVACOES'].between(4, 6).sum()
qtd_3_ou_menos = (df_distorcao['TOTAL_REPROVACOES'] <= 3).sum()

# Mostrar o resultado
print("Total em distorção idade-série:", len(df_distorcao))
print("7 ou mais reprovações:", qtd_7_ou_mais)
print("4, 5 ou 6 reprovações:", qtd_4_a_6)
print("3 ou menos reprovações:", qtd_3_ou_menos)

Total em distorção idade-série: 20456
7 ou mais reprovações: 6224
4, 5 ou 6 reprovações: 5262
3 ou menos reprovações: 8970

In [51]:
# Cálculo por etapa:
# Agrupar por ETAPA e calcular as quantidades em cada faixa
resultado_por_etapa = (
    df_distorcao
    .groupby('ETAPA')
    .apply(lambda g: pd.Series({
        'Total em distorção idade-série': len(g),
        '7 ou mais reprovações': (g['TOTAL_REPROVACOES'] >= 7).sum(),
        '4, 5 ou 6 reprovações': g['TOTAL_REPROVACOES'].between(4, 6).sum(),
        '3 ou menos reprovações': (g['TOTAL_REPROVACOES'] <= 3).sum()
    }))
    .reset_index()
)

In [52]:
resultado_por_etapa

,ETAPA,Total em distorção idade-série,7 ou mais reprovações,"4, 5 ou 6 reprovações",3 ou menos reprovações
0,Ensino Fundamental - Anos Finais,5871,1239,2030,2602
1,Ensino Médio,14585,4985,3232,6368

In [53]:
# Cálculo por SÉRIE:
# Agrupar por SÉRIE e calcular as quantidades em cada faixa
resultado_por_serie = (
    df_distorcao
    .groupby('SÉRIE')
    .apply(lambda g: pd.Series({
        'Total em distorção idade-série': len(g),
        '7 ou mais reprovações': (g['TOTAL_REPROVACOES'] >= 7).sum(),
        '4, 5 ou 6 reprovações': g['TOTAL_REPROVACOES'].between(4, 6).sum(),
        '3 ou menos reprovações': (g['TOTAL_REPROVACOES'] <= 3).sum()
    }))
    .reset_index()
)

In [54]:
resultado_por_serie

,SÉRIE,Total em distorção idade-série,7 ou mais reprovações,"4, 5 ou 6 reprovações",3 ou menos reprovações
0,1ª SÉRIE,6971,3227,1569,2175
1,2ª SÉRIE,4364,1215,982,2167
2,3ª SÉRIE,3250,543,681,2026
3,6º ANO,1756,517,638,601
4,7º ANO,1757,405,637,715
5,8º ANO,1335,183,457,695
6,9º ANO,1023,134,298,591

# Estudantes em risco: 5 e 6 reprovações para Ensino Médio e 2 e 3 reprovações para Ensino Fundamental

In [61]:
df_reprovacoes

,CPF PESSOA,TOTAL_REPROVACOES,NOME PESSOA,IDADE,SÉRIE,DIREC,MUNICÍPIO,ESCOLA,INEP ESCOLA,ETAPA ENSINO
0,10000150410,6,PAULO GEOVANE FLORENCIO DA SILVA,17.0,3ª SÉRIE,01ª DIREC - NATAL,SAO GONCALO DO AMARANTE,ESCOLA ESTADUAL ÉLIA DE BARROS,24054224,ENSINO MÉDIO POTIGUAR
1,10000254460,0,ANTONIO FRANCISCO RODRIGUES NETO,16.0,1ª SÉRIE,13ª DIREC - APODI,APODI,ESCOLA ESTADUAL PROFESSOR ANTONIO DANTAS,24004260,ENSINO MÉDIO POTIGUAR
2,10000823422,0,MIGUEL HENRIQUE MACEDO DA SILVA,17.0,3ª SÉRIE,03ª DIREC - NOVA CRUZ,PASSA E FICA,ESCOLA ESTADUAL DEPUTADO DJALMA ARANHA MARINHO,24047341,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL
3,10000982490,1,IASMIN ARAUJO DO AMARAL,16.0,2ª SÉRIE,05ª DIREC - CEARÁ MIRIM,SÃO MIGUEL DO GOSTOSO,EE OLIMPIA TEIXEIRA,24072184,ENSINO MÉDIO POTIGUAR
4,10001165496,2,BARBARA LETICIA MEDEIROS DOS SANTOS,16.0,2ª SÉRIE,01ª DIREC - NATAL,NATAL,ESCOLA ESTADUAL FELIZARDO MOURA,24057819,ENSINO MÉDIO POTIGUAR
...,...,...,...,...,...,...,...,...,...,...
131652,9997488407,1,EDER DE PAIVA BRITO FILHO,NaN,2ª SÉRIE,13ª DIREC - APODI,CARAUBAS,ESCOLA ESTADUAL ALMIRO DE FRANÇA SILVA,24088811,CURSO TÉCNICO EM AGROECOLOGIA NA FORMA ARTICUL...
131653,9998899400,0,MARIA GABRIELA PEREIRA DA SILVA,NaN,2ª SÉRIE,05ª DIREC - CEARÁ MIRIM,CEARA-MIRIM,CEEP - CENTRO ESTADUAL DE EDUCAÇÃO PROFISSIONA...,24087378,CURSO TÉCNICO DE NÍVEL MÉDIO EM ADMINISTRAÇÃO ...
131654,9999048412,0,SARAH KAROLINE TEIXEIRA DE SOUZA,NaN,3ª SÉRIE,05ª DIREC - CEARÁ MIRIM,CEARA-MIRIM,CEEP - CENTRO ESTADUAL DE EDUCAÇÃO PROFISSIONA...,24087378,CURSO TÉCNICO DE NÍVEL MÉDIO EM ADMINISTRAÇÃO ...
131655,999906445,0,ALEXSANDRA AUGUSTO DA SILVA,NaN,3ª SÉRIE,01ª DIREC - NATAL,NATAL,ESCOLA ESTADUAL JEAN MERMOZ,24057916,ENSINO MÉDIO POTIGUAR
131656,9999339492,0,JOELY BEATRIZ MEDEIROS BENTO,NaN,2ª SÉRIE,09ª DIREC - CURRAIS NOVOS,CURRAIS NOVOS,ESCOLA ESTADUAL TRISTÃO DE BARROS,24035548,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL

In [68]:
# Excluir coluna idade, pois não é útil aqui
df_reprovacoes = df_reprovacoes.drop(columns=['IDADE', 'ETAPA ENSINO'])

KeyError: "['IDADE'] not found in axis"

In [72]:
# Coluna de Etapa
# Definir as condições
condicoes = [
    df_reprovacoes['SÉRIE'].isin(['6º ANO', '7º ANO', '8º ANO', '9º ANO']),
    df_reprovacoes['SÉRIE'].isin(['1ª SÉRIE', '2ª SÉRIE', '3ª SÉRIE'])
]

# Definir os valores correspondentes
valores = [
    'Ensino Fundamental - Anos Finais',
    'Ensino Médio'
]

# Criar a nova coluna 'ETAPA'
df_reprovacoes['ETAPA'] = np.select(condicoes, valores, default='Outro')

In [73]:
# Reordenar as colunas:
ordem = ['DIREC',
         'MUNICÍPIO',
         'ESCOLA',
         'INEP ESCOLA',
         'ETAPA',
         'SÉRIE',
         'CPF PESSOA',
         'NOME PESSOA',
         'TOTAL_REPROVACOES']

df_reprovacoes = df_reprovacoes[ordem]

In [77]:
# Fazer Dataframe só com os estudantes de Ens. Fundamental com 2 ou 3 reprovações e estudantes de Ens. Médio com 5 ou 6 reprovações

df_reprovacoes_risco = df_reprovacoes[
    ((df_reprovacoes['ETAPA'] == 'Ensino Fundamental - Anos Finais')
    & (df_reprovacoes['TOTAL_REPROVACOES'].isin([2, 3])))
    |
    ((df_reprovacoes['ETAPA'] == 'Ensino Médio')
    & (df_reprovacoes['TOTAL_REPROVACOES'].isin([5, 6])))
].copy()

In [78]:
df_reprovacoes_risco

,DIREC,MUNICÍPIO,ESCOLA,INEP ESCOLA,ETAPA,SÉRIE,CPF PESSOA,NOME PESSOA,TOTAL_REPROVACOES
0,01ª DIREC - NATAL,SAO GONCALO DO AMARANTE,ESCOLA ESTADUAL ÉLIA DE BARROS,24054224,Ensino Médio,3ª SÉRIE,10000150410,PAULO GEOVANE FLORENCIO DA SILVA,6
10,03ª DIREC - NOVA CRUZ,BREJINHO,ESCOLA ESTADUAL JOSÉ LÚCIO RIBEIRO,24044970,Ensino Médio,3ª SÉRIE,10004412451,EDLANE OLIVEIRA BELO,5
17,05ª DIREC - CEARÁ MIRIM,CEARA-MIRIM,ESCOLA ESTADUAL INTERVENTOR UBALDO BEZERRA DE ...,24052167,Ensino Médio,3ª SÉRIE,10006701477,CECILIA DA SILVA GOMES,6
31,15ª DIREC - PAU DOS FERROS,AGUA NOVA,ESCOLA ESTADUAL PROFESSOR PEDRO RAIMUNDO DO NA...,24064238,Ensino Médio,3ª SÉRIE,10012604496,FRANCISCO VITORIO FERNANDES DAMIAO,5
33,01ª DIREC - NATAL,NATAL,ESCOLA ESTADUAL DOM JOSÉ ADELINO DANTAS,24060070,Ensino Médio,3ª SÉRIE,10014010429,NIKOLAS CAMARA DO NASCIMENTO,6
...,...,...,...,...,...,...,...,...,...
131596,01ª DIREC - NATAL,SAO GONCALO DO AMARANTE,ESCOLA ESTADUAL DE POÇO DE PEDRAS,24087793,Ensino Médio,1ª SÉRIE,9973377451,JOSE CARLOS CASUSA DE BRITO,6
131613,05ª DIREC - CEARÁ MIRIM,CEARA-MIRIM,ESCOLA ESTADUAL INTERVENTOR UBALDO BEZERRA DE ...,24052167,Ensino Médio,3ª SÉRIE,9980861428,LUIZ FELIPE DE SOUZA NOGUEIRA,6
131621,14ª DIREC - UMARIZAL,SERRINHA DOS PINTOS,ESCOLA ESTADUAL FRANCISCO DE ASSIS DA SILVA,24023671,Ensino Médio,2ª SÉRIE,9983248417,NATALIA PAIVA DE HOLANDA,5
131627,02ª DIREC - PARNAMIRIM,PARNAMIRIM,ESCOLA ESTADUAL PROFESSOR ELIAH MAIA DO RÊGO,24055840,Ensino Médio,1ª SÉRIE,9987217435,ANA PAULA DAS CHAGAS SILVA,5
131646,01ª DIREC - NATAL,NATAL,ESCOLA ESTADUAL RAIMUNDO SOARES,24058521,Ensino Médio,1ª SÉRIE,9995492431,JOAO GABRIEL COSTA DA SILVA,6

In [82]:
# Salvar dataframe em .xlsx:
df_reprovacoes_risco.to_excel('Estudantes_risco_reprovacoes.xlsx', index=False)